.modal-form {
    display: none;
    position: fixed; //relative when testing, fixed when live
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba($brand-green,.6);
    &-content {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 10% auto;
        width: 60%;
        padding: 8%;
        border-radius: 2rem;
        &-title, p, input{
            margin-bottom: 2rem;
        }
        &-close {
            position: absolute;
            top: 21%;
            right: 14%;
            color: $brand-green;
            float: right;
            font-size: 6rem;
            &:hover, &:focus {
                text-decoration: none;
                cursor: pointer;
            }
        }
        &-input {
            padding: 1rem;
            margin-right: 2rem;
        }
        & select {
            padding: 1rem;
        }
    }
}

.inline {
    display: inline; 
    width: 100%;
    font-size: 1.4rem;
    @include respond(tab-port){
        display: flex;
        flex-direction: column;
    }
    & label {
        padding-right: 1.2rem;
    }
}

textarea, input[type="submit"] {
    margin-top: 2rem;
    padding: 1rem;
}