.main-header {
    height: auto;
    background: $brand-gradient;
    background-color: $brand-black;
    &-nav-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 2rem;
        @include respond(phone) {
            flex-direction: column;
            padding: 1rem 1.7rem;
        }
        &-item {
            font-size: $nav-size;
            display: inline;
            margin: 1rem .25rem;
            padding: .5rem 1rem;
            &:last-child a{
                color: $brand-green-darker;
                background-color: white;
                border-radius: .5rem;
                margin-right: 2rem;
                padding: 1rem;
                text-decoration: none;
                box-shadow: .5px .5px 5px $brand-green-darker;
                &:hover {
                    background-color: white;
                    box-shadow: .1px .1px .1px $brand-green-darker;
                    transition: .3s;
                }
            }
        }
    }
}



.main-header-nav-list-item a {
    color: $brand-green-darker;
    text-decoration: none;
    &:hover {
        padding-bottom: .5rem;
        border-bottom: 5px solid white;
        transition: .3s;
    }
}


.header {
    padding: .5rem 0rem;
    height: auto;
    background: url("../img/cleaning-bicep") no-repeat;
    background-size: contain;
    &--column{
        margin: 5% 5% 0 40%;
        padding: 5%;
        background-color: rgba(250,250,250,.9);
        border-radius: 1rem;
    }
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 4rem;
        min-height: 4rem;
    }
    .content {
        height: 30vh;
    }
}