.tips{
    position: static;
    margin: 0;
    padding: 20% 10%;
    height: auto;
    max-width: 1400px;
    background: white url(../img/wall-chair-lamp.jpg);
    background-size: cover;
    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }
    &-headline {
        line-height: 4rem;
        color: white;
        justify-content: center;
    }
    &-content {
        align-items: flex-start;
        width: 60%;
        padding-right: 10%;
        @include respond(phone) {
            width: 100%;
        }
    }
}