// Typography
$sans-serif: "Rubik", sans-serif;
$serif: "Spectral", serif;
$heading-1-size: 4.5rem;
$heading-1-line-height: 5rem;
$body-size: 1.8rem;
$nav-size: 2.6rem;
$body-line-height: 2.9rem;

// Color
$brand-black: rgba(0, 0, 0, .9);
$brand-green: #54ce91;
$brand-offwhite: #f8f8f8;
$brand-gradient: linear-gradient(to bottom right, #ddeb24 10%, $brand-green 90%);