*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(big-desktop) {
        font-size: 75%;
    }

    @include respond(tab-land) {
        font-size: 60%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 55%;
    }

}

body {
    font-family: $sans-serif;
    font-size: $body-size;
    color: $brand-black;
    letter-spacing: .09rem;
    line-height: $body-line-height;
}

strong {
    color: $brand-green;
    font-weight: 800;
}

p:not(:first-child) {
    padding-top: 1rem;
}