*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: .09rem;
  line-height: 2.9rem;
}

strong {
  color: #54ce91;
  font-weight: 800;
}

p:not(:first-child) {
  padding-top: 1rem;
}

.btn-main {
  cursor: pointer;
  margin-top: 2rem;
  color: white;
  border: 0px solid transparent;
  font-size: 2.6rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #ddeb24), color-stop(90%, #54ce91));
  background: linear-gradient(to bottom right, #ddeb24 10%, #54ce91 90%);
  border-radius: .5rem;
  margin-right: 2rem;
  padding: 1rem;
  text-decoration: none;
  overflow: hidden;
}

.btn-main:hover {
  opacity: .9;
}

.btn-main span {
  position: absolute;
  background: white;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: ripple 1s linear infinite;
          animation: ripple 1s linear infinite;
}

@-webkit-keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: .5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: .5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 1rem;
}

.main-header {
  height: auto;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #ddeb24), color-stop(90%, #54ce91));
  background: linear-gradient(to bottom right, #ddeb24 10%, #54ce91 90%);
  background-color: rgba(0, 0, 0, 0.9);
}

.main-header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2rem;
}

.main-header-nav-list-item {
  font-size: 2.6rem;
  display: inline;
  margin: 1rem .25rem;
  padding: .5rem 1rem;
}

.main-header-nav-list-item:last-child a {
  color: #54ce91;
  background-color: white;
  border-radius: .5rem;
  margin-right: 2rem;
  padding: 1rem;
  text-decoration: none;
  -webkit-box-shadow: .5px .5px 5px darkgreen;
          box-shadow: .5px .5px 5px darkgreen;
}

.main-header-nav-list-item:last-child a:hover {
  background-color: white;
  -webkit-box-shadow: .1px .1px .1px darkgreen;
          box-shadow: .1px .1px .1px darkgreen;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-header-nav-list-item a {
  color: white;
  text-decoration: none;
}

.main-header-nav-list-item a:hover {
  padding-bottom: .5rem;
  border-bottom: 5px solid white;
  -webkit-transition: .3s;
  transition: .3s;
}

.header {
  padding: .5rem 0rem;
  height: auto;
  background: url("../img/cleaning-bicep") no-repeat;
  background-size: contain;
}

.header--column {
  margin: 5% 5% 0 40%;
  padding: 5%;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 1rem;
}

/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 4rem;
    min-height: 4rem;
  }
  .content {
    height: 30vh;
  }
}

.container-services {
  background-color: #f8f8f8;
  height: 90vh;
  margin-top: -1rem;
  padding: 7rem 3rem 15rem;
}

.container-services-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #54ce91;
  font-family: "Spectral", serif;
  font-size: 5rem;
  margin: 3rem 0rem 6rem;
}

.container-services-three-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.container-services-three-column-item {
  width: 30%;
  height: auto;
  background-color: white;
  -webkit-box-shadow: 1px 1px 9px lightgray;
          box-shadow: 1px 1px 9px lightgray;
  border-bottom: 10px solid #54ce91;
}

.container-services-three-column-item-img {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #ddeb24), color-stop(90%, #54ce91));
  background: linear-gradient(to bottom right, #ddeb24 10%, #54ce91 90%);
}

.container-services-three-column-item-img img {
  width: 100%;
}

.container-services-three-column-item-content {
  padding: 10%;
}

.tips {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 20rem 10rem;
  height: 50vh;
  max-width: 1400px;
  background: white url(../img/wall-chair-lamp.jpg);
  background-size: cover;
}

.tips-headline {
  margin: 0 0 5rem;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tips-content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  padding-right: 10%;
}

.heading-one {
  font-size: 4.5rem;
  font-family: "Spectral", serif;
  font-weight: 800;
  line-height: 5rem;
  color: rgba(0, 0, 0, 0.9);
  padding-left: 1rem;
}

.fifty-percent-width {
  width: 6rem;
}
/*# sourceMappingURL=style.css.map */