// Headings
$sans-serif: "Rubik", sans-serif;
$serif: "Spectral", serif;
$heading-1-size: 2rem;
$heading-1-line-height: 2.8rem;

$body-size: 1.2rem;
$body-line-height: 2rem;

$brand-black: rgba(0, 0, 0, .9);
$brand-green: #54ce91;


* {
    margin: 0;
}

body {
    font-family: $sans-serif;
    font-size: $body-size;
    color: $brand-black;
    letter-spacing: .09rem;
    line-height: $body-line-height;
}

strong {
    color: $brand-green;
    font-weight: 800;
}

p:not(:first-child) {
    padding-top: 1rem;
}

.btn-main {
    cursor: pointer;
    margin-top: 2rem;
    color: white;
    border: 0px solid transparent;
    font-size: $body-size;
    background: linear-gradient(to bottom right, #ddeb24 10%, $brand-green 90%);
    border-radius: .5rem;
    margin-right: 2rem;
    padding: 1rem;
    text-decoration: none;
    overflow: hidden;
    & span {
        position: absolute;
        background: white;
        transform: translate(50%,50%);
        pointer-events: none;
        border-radius: 50%;
        animation: ripple 1s linear infinite;
    }
}

@keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1rem;
}

.main-header {
    height: auto;
    background: linear-gradient(60deg, #ddeb24 10%, $brand-green 90%);
    background-color: $brand-black;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &-item {
        display: inline;
        margin: 1rem .25rem;
        padding: .5rem 1rem;
        &:last-child a{
            color: $brand-green;
            background-color: white;
            border-radius: .5rem;
            margin-right: 2rem;
            padding: 1rem;
            text-decoration: none;
            box-shadow: .5px .5px 5px darkgreen;
            &:hover {
                background-color: white;
                box-shadow: .1px .1px .1px darkgreen;
                transition: .3s;
            }
        }
    }
}

.nav-list-item a {
    color: white;
    text-decoration: none;
    &:hover {
        padding-bottom: .5rem;
        border-bottom: 5px solid white;
        transition: .3s;
    }
}

.heading-one {
    font-size: $heading-1-size;
    font-family: $serif;
    font-weight: 800;
    line-height: $heading-1-line-height;
    color: $brand-black;
    padding-left: 1rem;
}

.header {
    padding: .5rem 0rem;
    height: auto;
    &--image{
    background: url("/img/cleaning-bicep") no-repeat;
    background-size: contain;

    }
    &--column{
        margin: 5% 5% 0 40%;
        padding: 5%;
        background-color: rgba(250,250,250,.9);
        border-radius: 1rem;
    }
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 4rem;
        min-height: 4rem;
    }
    .content {
        height: 30vh;
    }
}

// mixins
.fifty-percent-width { width: 3rem; }